.child{
   width: 40%;
   margin: auto;
   margin-top: 2rem;
   background-color: #FFFBF5;
   padding: 4% 5%;
   
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main{
text-align: center;
}
li{
    font-size: 1.5rem;
    list-style: none;
}
input{
    cursor: pointer;
    width: 10%;
    height: 1.3rem;
}
.submit{
    padding: 10px 3rem;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #2d81f7;
    letter-spacing: 2px;
    border: none;
    font-weight: 500;
}