#userpanel_all{
    margin: auto;
    width: 70%;
}
.child_allquizes{
  border-radius: 8px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#allquizes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
@media all and (min-width:320px) and (max-width:767px){
    #userpanel_all{
       
        width: 90%;
    }
    .child_allquizes{
       padding: 10px;
      }
      #allquizes{
        
        grid-template-columns: repeat(2,1fr);

    
    }
}